#clock{
    margin: auto;
    height:40vw;
    width:40vw;
    background: url(clock..png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
}
#hours,#minutes,#seconds{
    position: absolute;
    background: black;
    border-radius:10px ;
    transform-origin: bottom;
}
#hours{
height:23%;
width:2%;
top:24%;
left:49.55%;
opacity:0.8;
}
#minutes{
height:24%;
width:1%;
top:24%;
left:49.55%;
opacity:0.8;
}
#seconds{
    height:30%;
    width:1%;
    top:18%;
    left:49.55%;
    opacity:0.8;
    
}